{% extends 'base.html.twig' %}

{% block body %}
  <div class="row small">
    <div class="card col-md-4 offset-1">
      <div class="card-header">
        <h3>
          <i class="fas fa-user-check"></i> Déjà Membre : {{ 'connexion'|trans }}
        </h3>
      </div>
      <div class="card-body">
      {% if error %}
        <div class="alert alert-danger">{{ "Email ou mot de passe incorrect" }}</div>
      {% endif %}
        <form method="post" action="{{ path('app_login') }}">
          <div class="form-group">
            <label for="inputEmail">Email</label>
            <input type="email"
              value="{{ last_username ??"" }}"
              name="email"
              id="inputEmail"
              class="form-control"
              required
              autofocus />
          </div>
          <div class="form-group">
            <label for="inputPassword">Mot de Passe</label>
            <input type="password"
              name="password"
              id="inputPassword"
              class="form-control"
              required />
            <input type="hidden"
              name="_csrf_token"
              value="{{ csrf_token('authenticate') }}" />
          </div>
          <div class="col-md-12 btn-group" style="padding:0px">
            <button class="btn btn-primary" type="submit">{{ 'connexion'|trans }}</button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-1"></div>
    <div class="card col-md-5">
      <div class="card-header">
        <h3>
          <i class="fas fa-user-plus"></i> Nouveau Membre : Inscription
        </h3>
      </div>
      <div class="card-body">
        {{ form_start(form)}}
          <div id="usager">
            <div class="form-group">
              {{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
              {{ form_row(form.password, {'attr': {'class': 'form-control', 'type': 'password'}}) }}
            </div>
            <div class="form-group">
              {{ form_row(form.prenom, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
              {{ form_row(form.nom, {'attr': {'class': 'form-control'}}) }}
            </div>
            
            {{ form_row(form._token) }}

            {{ form_row(form.captcha, {'attr': {'class': 'form-control'}}) }}
            <div class="col-md-12 btn-group" style="padding:0px">
              <button class="btn btn-primary" type="submit">Inscription</button>
            </div>
          </div>
        {{ form_end(form, {render_rest: false}) }}
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
{% endblock %}
