<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8" />
    <meta name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Démo SF" />
    <meta name="author" content="UGA/IUT2/INFO/Philippe Martin" />
    <link rel="icon" href="images/favicon.ico" />
    <title>
      {% block title %}

      {% endblock %}
    </title>
    <!-- CSS : Bootstrap, Fontawsome, projet (styles communs à tout le projet) -->
    <link href="{{ asset('css/bootstrap-4/bootstrap.min.css') }}"
      rel="stylesheet" />
    <link href="{{ asset('css/fontawsome-5.all.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/projet.css') }}" rel="stylesheet" />
    <!-- debut du block css -->
    {% block style %}

    {% endblock %}
    <!-- fin du block css -->
  </head>
  <body>
    {{ render(controller('App\\Controller\\DefaultController::navigation')) }}
    <main role="main" class="container-fluid">
      <div class="row">
        <div class="col-md-10">
          <div class="main-div">
            <!-- debut du block body -->
            {% block body %}

            {% endblock %}
            <!-- fin du block body -->
          </div>
        </div>
        <div class="col-md-2" style="padding: 10px;">
          <div class="card">
            <div class="card-header text-center">
              <h4>
                <i class="fas fa-star"></i> Top Ventes <i class="fas fa-star">

                </i>
              </h4>
            </div>
            <div class="card-body">
              {{
                render(
                  controller('App\\Controller\\DefaultController::bestSeller')
                )
              }}
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- JS : JQuery, Bootstrap -->
    <script src="{{ asset('/js/jquery-3/jquery.slim.min.js') }}"></script>
    <script src="{{
      asset(
        '/js/bootstrap-4/bootstrap.bundle.min.js'
      )
      }}"></script>
    <script>
      $(function () { $('[data-toggle="tooltip"]').tooltip();
      $("#searchButton").click( function () { var searchString =
      $('#searchString').val().trim(); location = ("/boutique/chercher/" +
      searchString);return false; }); });
    </script>
    <!-- debut du block js -->
    {% block script %}

    {% endblock %}
    <!-- fin du block js -->
  </body>
</html>
