<ul class="list-group">
  {% for bestSeller in bestSellers %}
    <a href="{{ relative_path('/boutique/rayon/') }}{{
      bestSeller.idCategorie
      }}">
      <li class="list-group-item text-center clickable">
        <img src="{{ asset(bestSeller.visuel) }}" style="height: 40px;" />
        <p>
          {{ bestSeller.texte }}<br /><i>{{ bestSeller.quantite }} Ventes</i>
        </p>
      </li>
    </a>
  {% endfor %}
</ul>
