{% extends 'base.html.twig' %}
{% block body %}
  <div class="card col-md-12">
    <div class="card-header">
      <h1>
        <i class="fas fa-shopping-cart"></i> {{ nbProduits }} {{ 'products'|trans }} :
        <b>{{ total|devise|format_currency( getDevise(), {rounding_mode: 'floor'}) }}</b>
      </h1>
      <div class="col-md-12 btn-group btn-group-lg" role="group">
        <a class="btn btn-primary" href="{{ path('boutique') }}">
          {{ 'cart.continueShopping'|trans }}
        </a>
        {% if nbProduits > 0 %}
          <a class="btn btn-primary"
            href="{{ path('panierCommander') }}">
            Passer la Commande
          </a>
        {% endif %}
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <table class="table table-striped table-sm table-hover">
          <thead>
            <tr>
              <th></th>
              <th>
                {{ 'product'|trans }}
              </th>
              <th class="text-right">
                Prix
              </th>
              <th>
                Quantite
              </th>
              <th class="text-right">
                Total
              </th>
              <th>
                {{ 'delete'|trans }}
              </th>
            </tr>
          </thead>
          <tbody>
            {% for produit in panier %}
              <tr>
                <td>
                  <img src="{{ asset(produit.produit.visuel) }}"
                    class="cart-img-produit"
                    alt="{{ produit.produit.libelle }}" />
                </td>
                <td>
                  <a href="{{ path('rayon') }}{{
                    produit.produit.categorie.id
                    }}">
                    <b>{{ produit.produit.libelle }}</b>
                  </a>
                </td>
                <td class="text-right">
                  {{ produit.produit.prix|devise|format_currency( getDevise(), {rounding_mode: 'floor'}) }}
                </td>
                <td>
                  <a href="{{
                    path(
                      'panierEnlever',
                      { 'produitId': produit.produit.id }
                    )
                    }}">
                    <i class="fas fa-minus-square text-muted"></i>
                  </a>
                  {{ produit.quantite }}
                  <a href="{{
                    path(
                      'panierAjouter',
                      { 'produitId': produit.produit.id }
                    )
                    }}">
                    <i class="fas fa-plus-square text-muted"></i>
                  </a>
                </td>
                <td class="text-right">
                  {{ (produit.quantite * produit.produit.prix)|devise|format_currency( getDevise(), {rounding_mode: 'floor'}) }}
                </td>
                <td>
                  <a href="{{
                    path(
                      'panierSupprimer',
                      { 'produitId': produit.produit.id }
                    )
                    }}">
                    <i class="fas fa-trash text-muted"
                      data-toggle="tooltip"
                      title=""
                      data-placement="right"
                      data-html="true"
                      data-original-title="{{ 'delete'|trans }} {{produit.produit.libelle}}">

                    </i>
                  </a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
          <thead>
            <tr>
              <th class="text-right" colspan="4">
                Total
              </th>
              <th class="text-right">
                {{ total|devise|format_currency( getDevise(), {rounding_mode: 'floor'}) }}
              </th>
              <th>
                <a href="{{ path('panierVider') }}">
                  <i class="fas fa-trash text-muted"
                    data-toggle="tooltip"
                    title=""
                    data-placement="right"
                    data-html="true"
                    data-original-title="{{ 'cart.clearCart'|trans }}">

                  </i>
                </a>
              </th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
